.container {
  width: 1005px;
  margin: 0 auto;
  @media screen and (max-width: 1367px) {
    width: 75%;
  }
}

img {
  pointer-events: none;
}

* {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

a, button {
  cursor: pointer;
  text-decoration: none;
}