.details {
  padding: 0 0 40px;
  hr {
    border: none;
    margin: 50px auto;
    width: 100%;
    color: #cdcdcd;
    background-color: #cdcdcd;
    height: 1px;
  }
  .text-card {
    display: flex;
  }
  .img-ct {
    width: 20%;
    margin: 0 15px 0 0;
    align-self: center;
  }
  .desc-ct {
    h3 {
      @extend %main_caption;
      margin: 0 0 15px;
    }
    p {
      opacity: 0.67;
      color: #08080b;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin: 0 0 35px;
    }
    ul {
      margin: 15px 0 0 22px;
      li {
        list-style-image: url("../img/how-to-sell-faster/check-mark.png");
        p {
          margin: 0;
          line-height: 19px;
        }
      }
    }
  }
  form {
    fieldset {
      margin: 0 0 30px;
    }
    label {
      color: #08080b;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      span {
        color: #ff5555;
      }
    }
    select {
      margin: 12px 0 0;
      display: block;
      border: 1px solid #d7d7d7;
      border-radius: 2px;
      /*for WebKit*/
      -webkit-appearance: none;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      cursor: pointer;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      padding: 15px;
      box-sizing: border-box;
      width: 95%;
      background: url("../img/how-to-sell-faster/select-arrows.png") no-repeat 98% 50%;
      background-color: #f8fafb;
      &::-ms-expand {
        display: none;
      }
    }
  }
  .totals-ct {
    display: flex;
    margin: 0 0 15px;
    .desc {
      align-self: center;
      opacity: 0.67;
      color: #08080b;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin: 0 15px 0 0;
    }
    .counter-ct {
      background: url("../img/how-to-sell-faster/totals.png") no-repeat 100% 100%;
      p {
        padding: 15px 30px 18px 10px;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        span {
          font-size: 9px;
        }
      }
    }
  }
  .price-ct {
    p {
      margin: 0 0 10px;
      opacity: 0.67;
      color: #08080b;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
    }
    a {
      transition: .3s;
      color: #ea9602;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}