@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.container {
  width: 1005px;
  margin: 0 auto; }
  @media screen and (max-width: 1367px) {
    .container {
      width: 75%; } }

img {
  pointer-events: none; }

*:hover, *:focus, *:active {
  outline: none; }

a, button {
  cursor: pointer;
  text-decoration: none; }

.error-ct {
  padding: 50px 0;
  background: url("../img/404/error-bg.png") no-repeat 50% 100%;
  background-size: cover; }
  @media (min-width: 320px) and (max-width: 1367px) {
    .error-ct .container {
      width: 90%; } }
  .error-ct .flex-ct1 {
    display: flex;
    justify-content: flex-end; }
    .error-ct .flex-ct1 .question-ct {
      opacity: 0.41;
      width: 50%;
      margin: 0 10% 0 0; }
      .error-ct .flex-ct1 .question-ct img {
        width: 100%; }
  .error-ct .flex-ct2 {
    position: relative;
    z-index: 2;
    margin: -14.5% 0 0;
    display: flex;
    justify-content: center; }
    .error-ct .flex-ct2 .img-ct {
      width: 71%; }
      .error-ct .flex-ct2 .img-ct img {
        width: 100%; }
    .error-ct .flex-ct2 .text-ct {
      width: 29%;
      margin: 19% 0 0 -25.5%; }
      .error-ct .flex-ct2 .text-ct .caption {
        color: #ffffff;
        font-family: 'MyriadPro-Regular', sans-serif;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: -1.04px;
        margin: 0 0 22px; }
      .error-ct .flex-ct2 .text-ct .follow-main-page {
        color: #98d9ff;
        font-family: 'MyriadPro-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.54px;
        margin: 0 0 30px; }
      .error-ct .flex-ct2 .text-ct a {
        padding: 12px 35px;
        border-radius: 4px;
        background-color: #ea9602;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        transition: .3s; }
        .error-ct .flex-ct2 .text-ct a:hover {
          color: #98d9ff; }

header .dropbtn, header .dropdown-content a, header .profile .icons-ct p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.29px; }

header {
  background: url("../img/common/header-bg.png") no-repeat 100% 100%;
  background-size: cover; }
  header .control {
    padding: 6px 0;
    border-bottom: 5px solid #e79700; }
  header .flex-ct {
    display: flex;
    justify-content: space-between; }
  header .language {
    align-self: center;
    position: relative; }
  header .dropbtn {
    border: none;
    background-color: transparent;
    padding: 5px; }
  header .dropdown-content {
    opacity: 0;
    min-width: 100px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #050201; }
    header .dropdown-content a {
      display: block;
      padding: 7px 0;
      text-align: center; }
  header .dropdown-content-active {
    pointer-events: auto;
    opacity: 1; }
  header .profile {
    display: flex; }
    header .profile .ovn-ct {
      display: flex;
      justify-content: center; }
      header .profile .ovn-ct svg {
        margin: 0 10px 0 0; }
      header .profile .ovn-ct .drop-down-ct {
        align-self: center; }
    header .profile .icons-ct {
      display: flex;
      justify-content: center; }
      header .profile .icons-ct .icon-ct {
        display: flex;
        justify-content: center;
        margin: 0 7px; }
      header .profile .icons-ct svg {
        align-self: center;
        margin: 0 5px 0 0;
        cursor: pointer; }
      header .profile .icons-ct p {
        align-self: center;
        color: #ea9602; }

/*# sourceMappingURL=style.css.map */
