.error-ct {
  padding: 50px 0;
  background: url("../img/404/error-bg.png") no-repeat 50% 100%;
  background-size: cover;
  .container {
    @media (min-width: 320px) and (max-width: 1367px) {
      width: 90%;
    }
  }
  .flex-ct1 {
    display: flex;
    justify-content: flex-end;
    .question-ct {
      opacity: 0.41;
      width: 50%;
      margin: 0 10% 0 0;
      img {
        width: 100%;
      }
    }
  }
  .flex-ct2 {
    position: relative;
    z-index: 2;
    margin: -14.5% 0 0;
    display: flex;
    justify-content: center;
    .img-ct {
      width: 71%;
      img {
        width: 100%;
      }
    }
    .text-ct {
      width: 29%;
      margin: 19% 0 0 -25.5%;
      .caption {
        color: #ffffff;
        font-family: 'MyriadPro-Regular', sans-serif;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: -1.04px;
        margin: 0 0 22px;
      }
      .follow-main-page {
        color: #98d9ff;
        font-family: 'MyriadPro-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.54px;
        margin: 0 0 30px;
      }
      a {
        padding: 12px 35px;
        border-radius: 4px;
        background-color: #ea9602;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        transition: .3s;
        &:hover {
          color: #98d9ff;
        }
      }
    }
  }
}