%main_text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.29px;
}

%form_text {
  color: #c5cfd9;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

%main_caption {
  color: #08080b;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.container {
  width: 1005px;
  margin: 0 auto;
  @media screen and (max-width: 1367px) {
    width: 75%;
  }
}

img {
  pointer-events: none;
}

* {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

a, button {
  cursor: pointer;
  text-decoration: none;
}