header {
  background: url("../../img/common/header-bg.png") no-repeat 100% 100%;
  background-size: cover; }
  header .control {
    padding: 6px 0;
    border-bottom: 2px solid #e79700; }
  header .flex-ct {
    display: flex;
    justify-content: space-between; }
  header .flex-ct-1_1 {
    display: flex;
    justify-content: flex-end; }
  header .dropbtn {
    border: none;
    background-color: transparent;
    padding: 5px; }
  header .dropdown-content {
    opacity: 0;
    min-width: 100px;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #050201; }
    header .dropdown-content a {
      display: block;
      padding: 7px 0;
      text-align: center; }
  header .dropdown-content-active {
    pointer-events: auto;
    opacity: 1; }
  header .profile {
    display: flex; }
    header .profile .ovn-ct {
      display: flex;
      justify-content: center; }
      header .profile .ovn-ct svg {
        margin: 0 10px 0 0; }
      header .profile .ovn-ct .drop-down-ct {
        align-self: center; }
    header .profile .icons-ct {
      display: flex;
      justify-content: center; }
      header .profile .icons-ct .icon-ct {
        display: flex;
        justify-content: center;
        margin: 0 7px; }
      header .profile .icons-ct svg, header .profile .icons-ct img {
        align-self: center;
        margin: 0 5px 0 0;
        cursor: pointer; }
      header .profile .icons-ct p {
        align-self: center;
        color: #ea9602; }
  header .content {
    padding: 45px 0 40px; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      border-right: 1px solid #ffffff;
      text-transform: uppercase;
      padding: 1px 15px;
      transition: .3s; }
      header nav ul li a:hover {
        text-decoration: underline; }
  header .bottom-ct {
    margin: 12px 0 0 15px; }
  header .search-ct {
    width: 69%; }
    header .search-ct form {
      display: flex;
      justify-content: center; }
      header .search-ct form .search {
        width: 50%;
        border-radius: 2px 0 0 2px;
        background: url("../../img/common/search.png") no-repeat 3% 50%;
        background-color: #f5f8f9; }
      header .search-ct form .location {
        width: 30%;
        background: url("../../img/common/pin-icon.png") no-repeat 3% 50%;
        background-color: #f5f8f9; }
      header .search-ct form input {
        border: 1px solid #d7d7d7;
        padding: 10px 0 10px 25px; }
      header .search-ct form button {
        width: 20%;
        background-color: #ea9602;
        border-radius: 0 2px 2px 0;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        border: none;
        transition: .3s; }
        header .search-ct form button:hover {
          color: #000; }
  header .integration-ct {
    width: 29%;
    display: flex;
    justify-content: center; }
    header .integration-ct .desc-ct {
      background-color: #abcf36;
      width: 80%;
      border-radius: 2px 0 0 2px; }
      header .integration-ct .desc-ct p {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 0 10px 15px; }
    header .integration-ct button {
      width: 20%;
      background-color: #99ba2f;
      border-radius: 0 2px 2px 0;
      border: none;
      transition: .3s; }
      header .integration-ct button:hover {
        opacity: .6; }

/*# sourceMappingURL=header.css.map */
