.contact-pet {
  padding: 40px 0;
  .flex-ct {
    display: flex;
    justify-content: space-between;
  }
  .text-ct {
    width: 42%;
    h2 {
      @extend %main_caption;
      margin: 0 0 20px;
    }
    p {
      opacity: 0.67;
      color: #08080b;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      margin: 0 0 30px;
    }
    .desc-block {
      display: flex;
      justify-content: space-between;
      margin: 0 0 40px;
    }
    .icon-ct {
      width: 20px;
      margin: 0 15px 0 0;
    }
    .desc-ct {
      width: calc(100% - 35px);
      p, a {
        display: block;
        color: #0c0c0c;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.29px;
        margin: 0;
        p {
          &:first-child {
            width: 20%;
            opacity: 0.5;
            color: #0c0c0c;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.34px;
          }
        }
        p {
          display: inline-block;
          &:last-child {
            width: calc(100% - 20% - 10px);
          }
        }
      }
    }
    .btn-ct {
      display: flex;
      justify-content: flex-start;
      margin: 0 0 30px;
      .btn-card {
        cursor: pointer;
        transition: .3s;
        box-shadow: inset 0 -2px 0 #99ba2f;
        background-color: #abcf36;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        &:hover {
          opacity: .5;
        }
        p {
          color: #ffffff;
          font-family: 'SegoeUI-Semibold', sans-serif;
          font-size: 14px;
          font-weight: 400;
          align-self: center;
          line-height: 1;
          margin: 0 30px;
        }
        .icon-ct {
          background-color: #99ba2f;
          border-radius: 2px;
          padding: 8px 8px 6px;
          margin: 0;
        }
        svg {

        }
      }
    }
    .location {
      display: flex;
      svg {
        margin: 0 10px 0 0;
        fill: #868686;
      }
      p {
        color: #868686;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
  .map-ct {
    width: 50%;
    align-self: center;
    height: 300px;
  }
}